body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    font-size: 18px;
}
  
html {
    scroll-behavior: smooth;
}

.page-header {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 18px;
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
}

.catalog-header {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 18px;
    background-image: url("../img/2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
}

.aboutus-header {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 18px;
    background-image: url("../img/98.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
}

.menu {
    padding: 10px;
    margin-left: 10%;
}

.menu ul {
    display: inline-block;
    width: 60%;
    position: absolute;
    text-align: center;
}

.menu img {
    margin-right: 5px;
}

.menu li {
    display: inline-block;
    margin-left: 5%;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
}

.menu li:last-child {
    float: right;
} 

.menu a:hover {
    text-decoration: underline;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
}

.banner {
    margin-left: 10%;
    padding-top: 8%;
    padding-bottom: 8%;
}

.banner h1 {
    color: #fff;
    font-weight: 500;
    font-size: 40px;
}

.banner p {
    line-height: 1.5;
    font-size: 20px;
    margin-top: 3%;
}

.button {
    background-color: #2cb34a;
    border-radius: 100px;   
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 30px;
    box-shadow: 0 0 3px #666;
    color: #ffffff;
}

.about {
    background-color: #e2e2e2;
}

.description {
    background-color: white;
	margin: 5% 0 5% 25%;
	height: 400px;
	width: 20%;
	padding: 4%;
	display: inline-block;
	position: absolute;
}

h1 {
    color: #2cb34a;
}

.description p {
    font-size: 20px;
    margin-top: 15%;
    padding-bottom: 15%;
}

.about img {
    margin-left: 47%;
}

.container {
    padding-top: 5%;
    padding-bottom: 5%;
}

.main-catalog {
    padding: 1% 0;
    background-color: #ededed;
}

.main-catalog h1 {
    text-align: center;
}

.catalog { 
    margin-left: 8%;
}

.catalog h1 {
    margin-left: 2%;
}

.catalog-button {
    background-color: #ffffff;
    border-radius: 100px;   
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 25px;
    color: #2cb34a;
    margin-left: 45%;
    margin-bottom: 10%;
}

.product img {
    border-radius: 5px 5px 0 0;
}

.products {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 2% 0;
}

.product {
    margin-left: 3%;
    margin-bottom: 2%;
	width: 15%;
	box-shadow: 0 0 7px rgba(34, 60, 80, 0.5);
    border-radius: 5px; 
    padding-bottom: 1%;
    display: inline-block;
    background-color: #fff;
}

.product h3 {
    padding: 0 0 20px 10px;
    font-weight: lighter;
    color: #1a1a1a;
    font-size: 18px;
}

.btn {
    margin: 10px;
    background-color: #2cb34a;
    border-radius: 100px;   
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 25px;
    color: #ffffff;
}

.advantages {
    margin-top: 4%;
    padding-bottom: 20%;
}

.advantage_items {
    margin-left: 25%;
    margin-top: 5%;
    width: 58%;
}

.advantage_col1 {
    width: 45%;
    float: left;
    margin-bottom: 5%;
}

.advantage_col2 {
    width: 45%;
    float: right;
    margin-bottom: 5%;
}

.advantages img {
    width: 10%;
    height: 10%;
    margin-right: 20px;
}

.advantages h3 {
    display: inline-block;
    vertical-align: top;
    font-weight: lighter;
}

.advantages h1 {
    text-align: center;
}

.feedback {
    color: #fff;
    background-color: #2cb34a;
    padding: 2% 2%;
    text-align: center;
}

.feedback h3 {
    font-weight: lighter;
}

.form__button, .form__input {
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
}

.form__input {
    width: 20%;
    margin: 20px 0 20px 0;
    border: none;
    border-bottom: 1px solid #8fdd9c;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
    color: #fff;
}

.form__input:focus {
    border-bottom: 1px solid #ffffff;
}

.form__button {
    padding: 15px 20px;
    margin: 20px 25px;
    background-color: #fff;
    border-radius: 100px;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 0 3px #666;
    cursor: pointer;
    transition: 0.3s;
}

.form__button:focus,
.form__button:hover {
    background-color:  #e2e2e2;;
}

.contacts {
    padding: 3% 20% 5%;
    background-color: #ededed;
    font-size: 20px;
}

.icons {
    width: 30%;
}

.icons img {
    border-radius: 10px;
    width: 10%;
    height: 10%;
    margin-right: 10px;
}

.contacts p {
    width: 30%;
}

.footer {
    padding: 1% 0 3% 10%;
    color:#fff;
    background-color: #5A4941;
}

.about__us {
    padding: 2% 10%;
    font-size: 22px;
}

.about__us h1 {
    text-align: center;
}

.about__us img {
    padding-left: 23%;
}

.about__us p {
    width: 55%;
    padding-left: 23%;
}

.reviews {
    margin: 3% 0;
}

.text {
    padding-left: 20%;
    text-indent: 50px;
    font-size: 32px;
    width: 57%;
}

.review {
    background-color: #ededed;
    border-radius: 10px;
    width: 55%;
    margin-left: 20%;
    margin-bottom: 15px;
    padding: 5px 5px 20px 30px;
}

.review h3 {
    color: #2cb34a;
    font-weight: lighter;
    font-size: 22px;
}

.review img {
    border-radius: 10px;
    margin-right: 10px;
}

.reviews h1 {
    text-align: center;
}

.reviews p {
    font-size: 18px;
}

.slider h1 {
    text-align: center;
}

